<% unless cart.line_items.empty? %>
<h2> Your items are </h2>
<table border="1px">
  <tr>
    <th>Product</th>
    <th>Qty</th>
    <th>Price</th>
    <th>Total</th>

  </tr>
<%= render cart.line_items %>
  <tr>
    <th colspan="3">Sum Total</th>
    <th><%= number_to_currency(@cart.total_price, unit: "Rs. ") %></th>
  </tr>

</table>
<table>
<tr>
  <td><%= button_to 'Empty Cart', @cart, method: :delete, data: {confirm: "Do you really want to empty the cart?"} %></td>
  <td><%= button_to 'CheckOut', new_order_path, method: :get %></td>

</tr>
</table>
<% end %>
