
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to tp.com, <%= @order.name %></h1>
    <p>
      You have successfully ordered.
    </p>

    <p>Thank You and have a great day</p>
  </body>
</html>
