// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.margin
{
   margin:60px;
}

.back_for_store{

  color: black;
// background-image: url("for_product.jpg");
   background-color: #a3a376;
}

.ul
{
  list-style-type: none;
  font-size: 28px

}

.li
{
  font-family: fantasy;
  height:30px;
}
